.phoneSellDialog {
  div[class*="MuiDialog-container"] {
    div[class*="MuiDialog-paper"] {
      padding: 24px !important;
      max-width: 100% !important;
    }
  }

  .phoneSellListRow {
    td {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

    td:nth-child(4) {
      width: 135px !important;

      div[class*="MuiAutocomplete-root"].error {
        fieldset {
          border-color: rgba(244, 67, 54, 0.8) !important;
        }
      }
      div[class*="MuiAutocomplete-root"] {
        fieldset {
          border-color: rgba(109, 179, 55, 0.8) !important;
        }

        p[class*="MuiFormHelperText-root"] {
          display: none !important;
        }

        div[class*="MuiInputBase-root"] {
          padding: 0px !important;
          input {
            text-align: center !important;
          }
        }
      }
    }

    td:nth-child(5) {
      width: 130px !important;
      div[class*="MuiTextField-root"].error {
        fieldset {
          border-color: rgba(244, 67, 54, 0.8) !important;
        }
      }

      div[class*="MuiInputBase-root"] {
        height: 35px !important;
        fieldset {
          border-color: rgba(109, 179, 55, 0.8) !important;
        }
        input {
          text-align: center !important;
        }
      }
    }
  }

  div[class*="phoneSellListContainer"] {
    div[class*="MuiGrid-item"]:nth-child(2) {
      height: 45px !important;
      padding: 0px 12px 0px 0px !important;
      margin-top: 24px !important;
      button {
        height: 100% !important;
      }
    }
    div[class*="MuiGrid-item"]:nth-child(3) {
      height: 45px !important;
      padding: 0px 0px 0px 12px !important;
      margin-top: 24px !important;
      button {
        height: 100% !important;
      }
      button.Mui-disabled {
        background-color: #9e9e9e !important;
        color: white !important;
      }
    }
  }
}

ul[class*="MuiAutocomplete-listbox"] {
  overflow-y: hidden !important;
}
