.phoneEditDialog > .MuiDialog-container > .MuiPaper-root {
  padding: 24px !important;
}

.editDialogForm > .MuiGrid-root {
  .MuiFormLabel-root.Mui-focused {
    color: rgba(109, 179, 55, 1) !important;
  }
  fieldset[class*="PrivateNotchedOutline-root"] {
    border-color: rgba(109, 179, 55, 0.5) !important;
  }

  div:nth-child(2) {
    padding-left: 0px !important;
    .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
      padding: 9px !important;
    }
  }
  //TYPE
  div:nth-child(3) {
    padding-right: 0px !important;
    .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
      padding: 9px !important;
    }
  }
  div:nth-child(4) {
    padding-right: 0px !important;
    padding-left: 0px !important;
    div[class*="MuiFormControl-root"] {
      div[class*="MuiInputBase-root"] {
        input[class*="MuiInputBase-input"] {
          text-align: center !important;
        }
      }
    }
  }
  div:nth-child(5) {
    padding-right: 0px !important;
    padding-left: 0px !important;
    text-align: center !important;
  }

  div:nth-child(6) {
    padding-left: 0px !important;
    .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
      padding: 9px !important;
    }
  }
  div:nth-child(7) {
    padding-right: 0px !important;
    .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
      padding: 9px !important;
    }
  }

  .cancelButtonGridItem {
    height: 45px !important;
    padding: 0px 12px 0px 0px !important;
    margin-top: 24px !important;
  }

  .submitButtonGridItem {
    height: 45px !important;
    padding: 0px 0px 0px 12px !important;
    margin-top: 24px !important;
  }
  
  div:nth-child(8) {
    padding-left: 0px !important;
  }
  div:nth-child(9) {
    padding-right: 0px !important;
  }
}
