@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

@media (min-width: 320px) and (max-width: 480px) {
  .paper {
    width: 250px !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .paper {
    width: 300px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .paper {
    width: 500px !important;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .paper {
    width: 500px !important;
  }
}

@media (min-width: 1281px) {
  .paper {
    width: 500px !important;
  }
}

body {
  margin: 0;
}

.container {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  background-color: #212121;
  min-width: 100vw !important;
  &.MuiContainer-root {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.paper {
  background-color: #fafafa !important;
  padding: 16px !important;
  border-radius: 5px !important;
}

.form {
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textfield {

  fieldset {
    border-color: rgba(109, 179, 55, 0.5);
  }

  &:hover fieldset {
    border-color: rgba(109, 179, 55, 0.9)  !important;
  }
  &:hover .Mui-error fieldset {
    border-color: #f44336 !important;
  }

  .Mui-focused fieldset {
    border-color:  rgba(109, 179, 55, 1) !important;
  }

  .Mui-error.Mui-focused fieldset {
    border-color: #f44336 !important;
  }

  .MuiFormLabel-root {
    font-family: "Rubik", sans-serif !important;
  }
  .MuiFormLabel-root.Mui-focused {
    color: rgba(109, 179, 55, 1);
  }
  .Mui-error.MuiFormLabel-root {
    color: #f44336 !important;
    
  }

  .MuiFormHelperText-root {
    font-family: "Rubik", sans-serif !important;
  }

  .MuiInputBase-input {
    font-family: "Rubik", sans-serif !important;
  }

  
}



.icon {
  color: #337003;
}

.showPasswordIcon {
  color: #337003;
  cursor: pointer;
}

.circularProgress {
  color: #fafafa !important;
}

.loginButton {
  background-color: #337003 !important;
  color: #fafafa !important;
  border-radius: 5px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  height: 60px;
  width: 100%;
  &:hover {
    background-color: rgba(51, 112, 3, 0.9) !important;
  }
  &.MuiIconButton-root.Mui-disabled {
    background-color: #9e9e9e !important;
  }
}

.signIn {
  font-family: "Rubik", sans-serif !important;
  margin: 0;
}

.errorMessage {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #C62828;
}

.buttonIcon {
  height: 30px !important;
  width: 30px !important;
}
